link(rel="stylesheet" href="css/header.css")
nav 
    ul 
        block links
        li  
            a(href="/") 
                img(src="img/logo.png", id="logo")
        li
            a(href="/scan" class="float_left") Scan
        li 
            a(href="/register-patient" class="float_left") Register Patient
        li 
            a(href="logout" class="float_right") Log Out