form(method="post" action="/login")
    input(type="text" name="email" placeholder='Email / GMC')
    input(type="password" name="password" placeholder="Password")
    button(type="submit" value="Login" id="login-button") Login