extends layout 

block content
    include includes/header-patient
    link(rel='stylesheet' href='css/register-patient.css')
    .container
        .dashboard
            h1 Edit Patient Records
            .form-container
                include includes/edit-form  