extends layout
block content 
    link(rel="stylesheet" href="css/login.css")
    .container
        a(href='/')
            img(src="img/logo.png", id="logo")
        h1 Welcome to Medicode!
        h2 Please Enter Your Login Details:
        if(message)
            .error 
                p=message
        include includes/login-form 
    