doctype html
html(lang="en")
    head
        title Medicode - #{title}
        link(rel="icon" href="img/icon.png")
        include includes/styles
    body
        .wrapper    
            block content