doctype html
html(lang="en")
    head
        title Medicode - Account Set Up
        link(rel="icon" href="../img/icon.png")
    body
        .wrapper    
            block content
                link(rel="stylesheet" href="../css/common.css")
                link(rel="stylesheet" href="../css/login.css")
                .container
                    img(src="../img/logo.png", id="logo")
                    h1 Welcome #{firstname} #{surname}!
                    h2 Please set up your password and upload a profile picture.
                    if(message)
                        .error 
                            p=message
                    form(action='/password/completed', method='POST' enctype='multipart/form-data')
                        input(type='password', name='password', value='', required='' minlength="5" placeholder='Password')
                        input(type='password', name='confirm', value='', required='' placeholder='Confirm Password')
                        input(name='profilePicture', type='file', class='file_input' data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="upload a picture")
                        button(type='submit') Submit