extends layout 

block content
    include includes/header
    link(rel='stylesheet' href='css/register-patient.css')
    .container
        .dashboard
            h1 Patient Registration
            include includes/register-form