doctype html
html(lang="en")
    head
        title Medicode - Account Set Up
        link(rel="icon" href="../img/icon.png")
    body
        .wrapper    
            block content
                link(rel="stylesheet" href="../css/common.css")
                link(rel="stylesheet" href="../css/login.css")
                .container
                    img(src="../img/logo.png", id="logo")
                    h1 You have successfully finished your registration.
                    h2 Please download our Android application to login to your account.